body{
    font-family: 'Roboto', sans-serif;
}
.espcador {
    margin: 0 3px;
}

.espcador:last-child {
    margin-right: 0;
}

.espcador:first-child {
    margin-left: 0;
}

.btn-pesq {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-pesq:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: #0d3d18;
}

.btn-grupo {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    justify-content: space-evenly;
}

.largCem {
    width: 100%;
}

.nav-tabs .nav-item.show,
.nav-tabs .nav-link.active {
    color: #28a745;
    /* background-color: #ffffff; */
    border-color: #28a745 #28a745 #fff;
}
/* .nav-link, .nav-link:hover{
    color: #fff;
} */

.border-none {
    border-bottom: none;
    border-top: none;
}
.nav-tabs{
    border-color: #28a745;
}
.table th.border-none{
    border-top: none;
}

/* .nav-item{
    color: #fff;
} */
.modal-ajeitado{
    padding-bottom: 0;
    border-bottom: 1px solid #089228;
    background: #28a745;
}

.info-help-icon{
    color: rgba(5, 106, 236, 0.4);
}
.info-help-icon:hover{
    color: rgba(5, 106, 236, 1);
}
.azul{
    color: rgb(0, 110, 255);
}
.azul:hover{
    color: rgba(0, 110, 255, .5);
}

.equipe-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipe-header span{
    margin: 0;
}


label.obrigatorio::before {
    content: "* ";
    color: red;
}


.img-logo-icon{
    padding: 0.13em;
}

.modalBodySemPadding{
    padding: 0;
}

.semMargem{
    margin: 0;
}

.form-pesquisa-index{
    display: flex;
    justify-content: space-between;
}
table .td-sem-vertical-top{
    vertical-align: inherit;
    padding: .5rem;
    text-align: center;
}

.table-index th, .table-index-td td{
    text-align: center;
}
.clip-circle {
    clip-path: circle(60px at center);
    /* OLD VALUE example: circle(245px, 140px, 50px); */
    /* Yep, even the new clip-path has deprecated stuff. */
}

.cor-barra-lateral{
    background-color: #155d25;
}
/* //////////////////////////////// Frequência //////////////////////////////// */

@import url('https://fonts.googleapis.com/css?family=Roboto:400i,500');
.tables-conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tables-conteiner h5{
    font-size: 15pt;
    padding: 0 .2em;
    color: #444;
    /* padding-left: 0;
    padding-top: 0; */
}

.tables-conteiner h5:first-child{
    margin-top: 0;
}
table.frequencia{
    width: 100%;
    display: table;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(173, 173, 173, .5);
    border-left: none;
}

table.frequencia th{
    color: black;
    min-width: 50px;
    padding: .3em;
    background: #e7e7e7;
    font-weight: 500;
    font-style: oblique;
    border-right: 1px solid rgba(56, 56, 56, 0.3);
    border-left: 1px solid rgba(56, 56, 56, 0.3);
}

.hr-div{
    margin-bottom: 5px;
    margin-top: 20px;
    border-bottom: 1px solid rgba(56, 56, 56, 0.3);
}

table.frequencia tr td{
    min-width: 80px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    /* max-height: 30px; */
}
table.frequencia tr td label{
    /* max-height: 30px; */
    margin: 0;
    display: block;
}
div.div-td{
    display: flex;
    width: 80px;
    min-width: 100%;
    min-height: 30px;
    /* min-height: 100%; */
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgb(173, 173, 173, .3);
}
.ent{
    border-bottom: 1px solid rgb(173, 173, 173, .3);
}

tr td:last-child div.div-td{
    border-right: none;
}

table.frequencia tr.meses{
    height: 35px;
}
table.frequencia tr.meses td{
    background-color: #ffffff;
    /* font-weight: 200; */
    font-style: italic;
    border-bottom: 1px solid rgb(173, 173, 173, .3);
}

table.frequencia tr.meses td:nth-child(2n){
    background-color: #f0f0f0;
}



/* td label div input[type='checkbox']{
    opacity: 0;
} */

.some{
    display: none;
}

/* Hide the browser's default checkbox */
div.div-td input {
    display: none;
}

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: #dfdfdf;
  border-radius: 30%;
}

/* On mouse-over, add a grey background color */
div.div-td:hover .checkmark {
  background-color: #ccc;
}
div.div-td:hover input:checked + .checkmark {
  background-color: rgb(0, 163, 35);
}

/* When the checkbox is checked, add a blue background */
div.div-td input:checked + .checkmark {
    background-color: rgb(35, 194, 70);
}

.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */
div.div-td input:checked + .checkmark:after {
  display: block;
  position: relative;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* td label div input[type='checkbox']{
    opacity: 0;
} */
.some{
    display: none;
}

.modal1200{
    box-sizing: content-box;
    min-width: 80em;
}




/* ------------   cols   ------------ */


.col-md-2, .col-md-3, .col-md-4 ,.col-md-6, /* .col-md-12, */
.col-2, .col-3, .col-4, .col-6, .col-12{
    padding-right: 10px;
    padding-left: 10px
}



.radioForm{
    width: 35%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.flex-radio-div, .row-radio-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-radio-div label{
    display: block;
    margin-bottom: 0;
}

.row-radio-div{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}


.espcador-table-show-projeto{
    width: 100%;
    height: 35px;
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espcador-table-show-projeto div{
    background: #ddd;
    width: 100%;
    height: 5px;
    max-height: 5px;
    margin-top: 15px;
}

.areas-container{
    width: 100%;
}

.areas-ul-container{
    max-height: 400px;
    overflow-y:scroll;
    width: 100%;
    background: #f5f5f5;
    border-bottom: 3px solid #ccc;
}

.areas-ul-expand-area{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.areas-ul-expand-a{
    padding: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.areas-ul-expand-sa{
    padding: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}


.areas-ul-div-titulo {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
}
.areas-ul-div-titulo > label > i {
    cursor: pointer;
}
.areas-ul-div-titulo-ga{
    background: #089228;
    border: 1px solid #077e23;
}
.areas-ul-div-titulo-a{
    background: #077e23;
    border: 1px solid #06681d;
}
.areas-ul-div-titulo-sa{
    background: #06681d;
    border: 1px solid #065819;
}

.areas-ul-span{
    max-height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
    margin: 0 5px;
    color: white;
}

.areas-ul-span > input{
    display: none;
}
.areas-ul-label{
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
    min-width: 58%;
    height: 100%;
    padding-left: 10px;
    justify-content: space-between;
    cursor: pointer;
}
.areas-ul-label > input{
    margin-left: 15px;
}
.areas-ul-label-ga{
    font-size: 1.3rem;
}
.areas-ul-div-label{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.areas-ul-div-label > span{
    display: flex;
    align-items: center;
    margin-right: 30px;
    color: white;
}
.areas-ul-div-label > span.aviso-nao-tem-subelementos{
    min-width: 50px; white-space:nowrap;
    font-size: .8rem;
    color: white;
    font-style: italic;
    background: #dc3545;
    border-radius: 5px;
    padding: 0 10px;
}
.areas-tp-span{
    background: white;
    padding: 0 5px;
    color: #089228 !important;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 15px !important;
}

.areas-ul-label-ga{
    font-size: 1rem;
}

.area-li-es{
    color: white;
    background: #045317;
    padding: 9px 25px;
    border: 1px solid #054715;
}
.areas-ul-expand-es{
    padding: 35px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/*
input[id^="ga_"]:checked + i {
    display: none;
} */

#area_selecionada{
    display: flex;
    padding: 15px;
    background: #dc3545;
    border-bottom: 3px solid #ccc;
    color: white;
    font-size: 1.2rem;
}

#area_selecionada > span{
    padding: 0;
    margin: 0;
    color: white;
}

#area_selecionada > span *{
    /* font-weight: bold; */
    color: #089228;
    padding: 3px 7px;
    background: white;
    border-radius: 5px;
    margin: 0 5px;
}

.area-selecionada{
    background: #007bff !important;
}
.area-div-button{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.div-subarea{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#IDSubareaModalSpan{
    padding: 5px 10px;
    border: 1px solid #ccc;
    min-width: 75%;
    border-radius: 5px;
}

.nova-area-index{
    width: 100%;
    padding: 10px;
    padding-left: 8px;
    border: 1px solid #ced4da;
    margin-top: 5px;
}
.nova-area-index:last-child{
    margin-bottom: 5px;
}
.nova-area-index div{
    display: flex;
    width: 100%;
}

.nova-area-index p{
    font-size: 1.2rem;
    padding-bottom: 3px;
    margin: 0;
}
.nova-area-index button, .nova-area-input{
    flex: 1;
    margin: 0 3px;
}
.nova-area-input:first-child{
    margin-left: 0;
}

.nova-area-index > div .nova-area-input:nth-child(2) {
    flex: 5 !important;
}

.areas-erros{
    background-color: #f2dede;
    border: 1px solid;
    border-color: #ebccd1;
    list-style: none;
    padding-left: 5px;
    margin: 10px;
    display: none;
}
.areas-erros span{
    color: #dc3545;
    display: inline-block;
    padding: 5px;
}

.areas-erros li {
    padding-left: 1em;
    text-indent: -.7em;
}
.areas-erros li::before {
    content: "• ";
    color: #dc3545; /* or whatever color you prefer */
    padding-right: 10px;
}
