<template>
  <div class="container mb-3" width="100%">
    <div class="card">
      <div class="card-header">Elenco</div>
      <div class="card-body d-flex justify-content-around">
        <div class="col-md-5 mb-1 mr-3">
          <div class="row mb-4">
            <input class="form-control" type="text" placeholder="Nome" v-model="name"/>
          </div>
          <div class="row">
            <select class="form-control" v-model="role">
              <option v-for="(role, index) in roles" :value="role.id" :key="index">{{role.name}}</option>
            </select>
          </div>
        </div>
        <table class="table table-bordered col-md-7">
          <thead>
            <tr>
              <th scope="col" class="col-sd text-center">Membro</th>
              <th scope="col" class="text-center">Papel</th>
            </tr>
          </thead>
          <tbody v-for="(item, index) in list" :key="index" @click="update(item)">
            <tr>
              <td class="text-center">{{ item.name }}</td>
              <td class="text-center">{{ getRole(item.role) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="btn btn-primary btn-sm mb-2 ml-2 col-md-1" type="button" @click="add">
        {{ btnName }}
      </button>
      <input type="hidden" name="participants" class="form-control" :value="participants"/>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['roles', 'cast'],
    data () {
      return {
				id: null,
        name: '',
        role: null,
        btnName: 'Adicionar',
        list: []
      }
    },
    methods: {
      add () {
				if (this.id) {
					this.list.forEach(item => {
						if (this.id == item.id) {
							item.name = this.name
							item.role = this.role
						}
					})
				} else {
					this.list.push({
						name: this.name,
						role: this.role,
					})
				}
				this.id = null,
				this.name = ''
				this.role = null
        this.btnName = 'Adicionar'

      },
      update (item) {
				if (item.id) this.id = item.id
				this.name = item.name
				this.role = item.role

        this.btnName = 'Atualizar'
      },
      getRole (id) {
        return this.roles.find(function (role) {
          if (role.id === id) return role
        }).name
      }
    },
    computed: {
      participants () {
        return JSON.stringify(this.list)
      }
    },
    mounted() {
			if (this.cast)	{
				this.cast.map((item) => {
					this.list.push({
						id: item.id,
						name: item.name,
						role: item.role_id,
					})
				})
			}
    }
  }
</script>
